@font-face {
  font-family: Helvetica-Var;
  src: url(../font/HELVETICA-NOW-VAR.TTF);
}

*{
  margin: 0;
  padding: 0;
  font-family: Helvetica-Var;
}
body {
  color: #E2E2E2;
  background-color: #1D1D1D;
  overflow: hidden;
  height: 100vh;
  text-decoration: none;
}

header{
  display: flex;
  padding: 0px 50px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: calc(100vw - (50px * 2));
  mix-blend-mode: difference;
  height: calc(100vh - 20px);
  z-index: 9999;
  opacity: 0;
}
header a{
  cursor: pointer;
}
header .a{
  text-decoration: none;
  color: #E2E2E2;
  font-weight: 900;
  opacity: 0;
  transform: translateY(-10px);
  position: relative;
  font-size: clamp(5.5px,1.7vw,22px);
}
header .a::after{
  content: '';
  background-color: #E2E2E2;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  border-radius: 50%;
  opacity: 0;
}
header .a.left::after{
  left: auto;
  right: -20px;
}
header .a:hover::after{
  opacity: 1;
}
header .op::after{
  opacity: 1;
}
.biglog{
  width: clamp(365px,10vw,938px);
  top: 0;
  mix-blend-mode: difference;
  scale:2;
}
.loader{
  display: none;
  background-color: #1D1D1D;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position:fixed;
  z-index: 9999;
}
.loader .loader-bar{
  background-color: #E2E2E2;
  width: 0vw;
  height: 100vh;
  overflow: hidden;
}
.loader p{
  color: #fff;
  mix-blend-mode:difference;
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: clamp(22px,7vw,90px);
}
#root{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(100%);
  height: 100vh;
}
.tim img{
  width: clamp(22px,10vw,140px);
  height: 100px;
  border-radius: 10px;
  border: 1px solid #E2E2E2;
  object-fit: cover;
  height: auto;
  transition: all .3s cubic-bezier(.26,1,.48,1);
  filter: saturate(0);
}
.tim:hover img{
  width: clamp(22px,19vw,280px);
}
.tim{
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
}
.set{
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
.set.white{
  background-color: #E2E2E2;
}
.set.black{
  background-color: #1D1D1D;
}


#goes{
  background-color: #1D1D1D;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100vw);
  height: 0 ;
  z-index: 9999999;
  color: #E2E2E2;
  overflow: hidden;
  transition: height .5s ease-in-out;
}
#goes .p{
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  right: 50px;
  top: 30px;
  transition: all .3s;
  cursor: pointer;
}
#goes .p:hover{
  font-weight: 900;
}

#goes .div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 2/5/8/10;
}
#goes img{
  grid-area: 2/2/8/5;
  width: 100%;
  height: 100%;
  object-fit:contain;
}
#goes .div a{
  background-color: #E2E2E2;
  text-align: center;
  font-size: (5.5px,1.7vw,22px);
  padding: 50px 0;
  text-decoration: none;
  color: #1D1D1D;
  text-transform: uppercase;
  font-weight: 900;
  transition: background .2s;
  border: 3px solid #E2E2E2;
}
#goes .div a:hover{
  background-color: #EC8BD7;
}
#goes .body{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(8,1fr);
  gap: 10px;
}